/*  Selectors and properties done! Keep it going.  */


html * {					/*  changing to global font weight. exercise 6 by the way. */
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
  
}

header {
	background-color: #fafad2;
	text-align: center;
}

nav {
	background-color: #9acd32;
}

aside {
	background-color: #9acd32;
}

footer {
	background-color: #fafad2;
	text-align: center;
}

/* Specificity! Now we're geting in to it.  */

.header{
	font-size: 46px !important; /* one way to override. Not good comments about it. */
}

.footer{
	font-size: 10px; /* this ones are overriding by presedence. */
}

.content{
	font-size: 14px;
}

.navigation{
	font-size: 12px;
}

.sidebar{
	font-size: 10px;
}

[class*="a"] {
		background-color: blue;      /* You can find the exercise 5 here. 
									Cause if not, your color may disappear  */
}

[class$="r"] {
	background-color: #ff00ff; /*  exercise 4 done! magenta is on! */
}

